---
layout: main
permalink: /menu/
---

<section>
    <div class="menu">
        <ul>
            {% for item in site.navigation %}
            <li
                    {% if item.url == page.url %} class="selected"{% endif %}>
                {% if item.items %}
                <ul>
                    {% for subitem in item.items %}
                    <li {% if subitem.url== page.url %} class="selected" {% endif %}>
                        <a href="{{ site.baseurl }}{{ subitem.url }}">
                            {{ subitem.text }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>