@import url("https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,400i,700&display=swap");
:root {
  --font-size-body: 14px;
  --font-size-body-larger: 16px;
  --font-size-body-big: 18px;
  --font-size-body-huge: 20px;
  --layout-main-width: 60em;
  --color-body-text: #000;
  --color-body-bgrd: #FFF;
  --color-link-default: #0cf;
  --color-border-default: #999;
  --spacing-layout-elements: 2em; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: var(--font-size-body, 14px)/1.5 "Libre Caslon Text", serif; }

@media (min-width: 600px) {
  html {
    font-size: var(--font-size-body-larger, 16px); } }

@media (min-width: 1024px) {
  html {
    font-size: var(--font-size-body-big, 18px); } }

@media (min-width: 1600px) {
  html {
    font-size: var(--font-size-body-huge, 20px); } }

body, table, form, select, option, input, textarea {
  font: inherit;
  background: var(--color-body-bgrd, #FFF);
  color: var(--color-body-text, #000); }

.site-title,
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-family: 'Libre Caslon Text', serif;
  font-style: italic; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.0em; }

a {
  text-decoration: none;
  color: var(--color-link-default, #0A0); }

p, ul, ol {
  padding-bottom: 1.5em; }

ul, ol {
  padding-left: 2em; }

ul ul, ol ul, ul ol, ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

ol > li > ol > li {
  list-style-type: lower-roman; }

blockquote {
  padding: 1rem; }

blockquote .author {
  font-style: italic;
  text-align: right;
  opacity: 0.5; }

blockquote .author:before {
  display: inline-block;
  content: '\2014';
  padding-right: 0.5em; }

.button {
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: var(--color-link-default);
  color: var(--color-body-bgrd);
  border-radius: 0.3em;
  border: 1px solid transparent; }
  .button:hover {
    background-color: var(--color-body-bgrd);
    color: var(--color-link-default);
    border-color: var(--color-link-default); }
  .button-secondary {
    background-color: var(--color-body-bgrd);
    color: var(--color-link-default);
    border-color: var(--color-link-default); }
    .button-secondary:hover {
      text-decoration: underline; }
  .button-wrapper {
    display: flex; }
    .button-wrapper .button {
      display: block; }
      .button-wrapper .button + .button {
        margin-left: 1em; }

.site {
  max-width: var(--layout-main-width);
  padding: 2em; }
  @media (min-width: 1024px) {
    .site {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 4em;
      grid-template-areas: "header header" "main main" "footer footer"; }
      .site .site-header {
        grid-area: header; }
      .site .site-main {
        grid-area: main; }
        .site .site-main .article {
          padding: var(--spacing-layout-elements); }
        .site .site-main .article:nth-last-child(1) {
          margin-bottom: 4em; }
        .site .site-main .article h3 {
          text-align: center; }
        .site .site-main .article .media img {
          width: 30%;
          float: right;
          height: auto; }
      .site .site-footer {
        grid-area: footer; }
      .site .site-header {
        display: flex;
        align-items: center; }
      .site .site-header nav {
        margin-left: auto; } }
  @media (max-width: 1023px) {
    .site .article:nth-last-child(1) {
      margin-bottom: 4em; } }

.section .img {
  display: block;
  width: 96%;
  height: auto;
  margin: 0 auto; }

.text h3 {
  text-align: center;
  color: var(--color-body-text); }

.text p {
  text-align: center; }

.text span {
  font-weight: bold;
  font-family: italic, serif;
  color: var(--color-link-default); }

.section {
  margin-bottom: -2rem; }

.site-header {
  border-bottom: 1px solid var(--color-border-default);
  margin-bottom: var(--spacing-layout-elements);
  padding-bottom: calc( var(--spacing-layout-elements) / 2); }

.site-title {
  margin: 0;
  padding: 0;
  font-size: 2em; }
  .site-title a {
    display: flex;
    padding: 0.5em 0; }

.site-footer {
  text-align: center;
  border-top: 1px solid var(--color-border-default);
  margin-top: var(--spacing-layout-elements);
  padding-top: calc( var(--spacing-layout-elements) / 2); }

.site-nav > ul {
  display: flex;
  padding: 0; }
  .site-nav > ul ul {
    display: block;
    pointer-events: none;
    padding: 0.5em;
    position: absolute;
    top: 100%;
    left: 0;
    width: 15em;
    z-index: 1; }
    .site-nav > ul ul li {
      opacity: 0;
      transform: translateY(-1em);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; }
      .site-nav > ul ul li:nth-child(1) {
        transition-delay: 0.1s; }
      .site-nav > ul ul li:nth-child(2) {
        transition-delay: 0.2s; }
      .site-nav > ul ul li:nth-child(3) {
        transition-delay: 0.3s; }
      .site-nav > ul ul li:nth-child(4) {
        transition-delay: 0.4s; }
      .site-nav > ul ul li:nth-child(5) {
        transition-delay: 0.5s; }
      .site-nav > ul ul li:nth-child(6) {
        transition-delay: 0.6s; }
      .site-nav > ul ul li:nth-child(7) {
        transition-delay: 0.7s; }
      .site-nav > ul ul li:nth-child(8) {
        transition-delay: 0.8s; }
      .site-nav > ul ul li:nth-child(9) {
        transition-delay: 0.9s; }
      .site-nav > ul ul li:nth-child(10) {
        transition-delay: 1s; }

.site-nav li {
  display: block;
  list-style: none outside;
  padding: 0 0.5em;
  position: relative; }
  .site-nav li li {
    padding: 0; }
    .site-nav li li:not(:last-child) {
      margin-bottom: 0.5em; }
  .site-nav li:hover ul {
    z-index: 100;
    pointer-events: all; }
  .site-nav li:hover li {
    opacity: 1;
    transform: translateY(0); }

.site-nav > li:first-child {
  padding-left: 0; }

.site-nav a {
  display: block;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background: #EEE; }

.site-nav li:hover > a,
.site-nav li.selected > a,
.site-nav a:hover {
  background: var(--color-link-default);
  color: var(--color-body-bgrd); }

.site-nav a i.fas:before {
  color: #000;
  margin-right: 0.5em; }

.site-nav li:hover > a i.fas:before,
.site-nav li.selected > a i.fas:before,
.site-nav a:hover i.fas:before {
  color: #FFF; }

.page-animations .site-main h1,
.page-animations .site-header,
.page-animations .site-footer {
  display: none; }

.page-animations {
  min-height: 100vh; }

.box {
  width: 20em;
  height: 15em;
  border: 2px solid #000;
  margin: 2em auto;
  background: #EEE; }

.box:hover {
  -webkit-animation: shake 0.5s ease;
          animation: shake 0.5s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-2em, -2em); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-2em, -2em); }
  to {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes shake {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(-2em); }
  40% {
    transform: translateX(2em); }
  60% {
    transform: translateX(-1em); }
  80% {
    transform: translateX(1em); }
  100% {
    transform: translateX(0); } }

@keyframes shake {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(-2em); }
  40% {
    transform: translateX(2em); }
  60% {
    transform: translateX(-1em); }
  80% {
    transform: translateX(1em); }
  100% {
    transform: translateX(0); } }

@-webkit-keyframes around {
  0% {
    top: 0;
    left: 0; }
  25% {
    top: 0;
    left: calc(100% - 5rem); }
  50% {
    top: calc(100% - 5rem);
    left: calc(100% - 5rem); }
  75% {
    top: calc(100% - 5rem);
    left: 0; }
  100% {
    top: 0;
    left: 0; } }

@keyframes around {
  0% {
    top: 0;
    left: 0; }
  25% {
    top: 0;
    left: calc(100% - 5rem); }
  50% {
    top: calc(100% - 5rem);
    left: calc(100% - 5rem); }
  75% {
    top: calc(100% - 5rem);
    left: 0; }
  100% {
    top: 0;
    left: 0; } }

.info {
  margin-left: 3.5rem; }

section {
  margin-bottom: -3rem; }

h4 {
  text-align: center;
  font-weight: bold; }

img {
  display: block;
  width: 40%;
  height: auto;
  margin: 0 auto;
  padding: 1rem 0 2rem 0; }

.menu {
  text-align: center;
  margin: -1rem;
  margin-left: -6rem; }
  .menu ul {
    list-style-type: none; }
  .menu ul li {
    padding: 7px; }
  @media (max-width: 1023px) {
    .menu {
      text-align: center;
      margin-left: -5rem; } }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  margin: 0 auto;
  max-width: 65em; }

ul.gallery li {
  list-style: none outside;
  display: block;
  /*height: 1fr;*/
  position: relative;
  overflow: hidden; }

.gallery {
  margin: 0 auto;
  padding: 1em 2em;
  background: white;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  justify-content: center;
  align-content: center;
  grid-auto-flow: dense; }
  @media (max-width: 1023px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
      padding: 1em; } }

.gallery li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity ease-in-out 0.3s; }

.small {
  grid-row: span 1;
  grid-column: span 1; }

.big {
  grid-row: span 2;
  grid-column: span 2; }

.portrait {
  grid-row: span 2;
  grid-column: span 1; }

.landscape {
  grid-row: span 1;
  grid-column: span 2; }

.small:before {
  content: '';
  padding-top: 100%;
  display: block; }

.big:before {
  content: '';
  padding-top: 100%;
  display: block; }

.landscape:before {
  content: '';
  padding-top: 50%;
  display: block; }

.portrait:before {
  content: '';
  padding-top: 200%;
  display: block; }

img.land {
  width: 100%;
  height: auto; }

img.por {
  height: 100%;
  width: auto; }

img:hover {
  opacity: 0.3; }
