section {
  //padding: var(--spacing-layout-elements);
  margin-bottom: -3rem;
}

h4 {
  text-align: center;
  font-weight: bold;
}

//.exercises
img {
  display: block;
  width: 40%;
  height: auto;
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
}