.section .img {
  display: block;
  width: 96%;
  height: auto;
  margin: 0 auto;
}

.text {
  & h3 {
    text-align: center;
    color: var(--color-body-text);
  }
  & p {
    text-align: center;
  }
  & span{
    font-weight: bold;
    font-family: italic, serif;
    color: var(--color-link-default);
  }
}

.section{
  margin-bottom: -2rem;
}