.site {
  max-width: var(--layout-main-width);
  padding: 2em;

  @include bp(laptop) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 4em;
    grid-template-areas: "header header" "main main" "footer footer";

    .site-header {
      grid-area: header;
    }

    .site-main {
      grid-area: main;

      & .article {
        padding: var(--spacing-layout-elements);
      }

      & .article:nth-last-child(1) {
        margin-bottom: 4em;
      }

      & .article h3 {
        text-align: center;
      }

      & .article .media img {
        width: 30%;
        float: right;
        height: auto;
      }

    }

    .site-footer {
      grid-area: footer;
    }

    .site-header {
      display: flex;
      align-items: center;
    }

    .site-header nav {
      margin-left: auto;
    }
  }

  @include bp(mobile) {
    & .article:nth-last-child(1) {
      margin-bottom: 4em;
    }
  }
}